In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("./Predictions/combined_pond_result.csv", delimiter=",", low_memory=False)

In [4]:
df.head()
# df.drop("Unnamed: 0", axis=1)

,Datetime,Temperature,Turbidity,Dissolved Oxygen,PH,Ammonia,Nitrate,Temperature_Predict,PH_Predict,Turbidity_Predict,Dissolved Oxygen Predict,Ammonia_Predict,Nitrate_Predict
0,2021-07-31 21:07:00,24.8750,6.0,38.702,7.29424,0.56720,719.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-07-31 21:08:00,24.9375,6.0,38.694,7.29424,0.57584,717.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-07-31 21:09:00,24.9375,6.0,38.677,7.30332,0.56935,719.0,24.852863,7.348157,20.355783,31.433104,145.06801,368.91266
3,2021-07-31 21:10:00,24.8750,6.0,38.652,7.29424,0.56720,720.0,24.886960,7.347992,20.355783,31.435581,145.06801,368.91266
4,2021-07-31 21:11:00,24.9375,6.0,38.855,7.30332,0.53795,720.0,24.864810,7.348440,20.355783,31.441149,145.06801,368.91266

In [5]:
df1=pd.read_csv("../Weight_prediction_Models/Per_minute_Weight_diff_pred_Pond2.csv", delimiter=",", low_memory=False)
df1.head()

,Unnamed: 0.1,Unnamed: 0,Datetime,Temperature,Turbidity,Dissolved Oxygen,PH,Ammonia,Nitrate,Population,Fish_Length,Fish_Weight,Weight_diff,Weight_diff_Pred
0,0,61747,2021-07-31 21:07:00,24.8750,6.0,38.702,7.29424,0.56720,719.0,50.0,17.75,46.5,0.0,0.017593
1,1,61748,2021-07-31 21:08:00,24.9375,6.0,38.694,7.29424,0.57584,717.0,50.0,17.75,46.5,0.0,0.017593
2,2,61749,2021-07-31 21:09:00,24.9375,6.0,38.677,7.30332,0.56935,719.0,50.0,17.75,46.5,0.0,0.017593
3,3,61750,2021-07-31 21:10:00,24.8750,6.0,38.652,7.29424,0.56720,720.0,50.0,17.75,46.5,0.0,0.017593
4,4,61751,2021-07-31 21:11:00,24.9375,6.0,38.855,7.30332,0.53795,720.0,50.0,17.75,46.5,0.0,0.017593

In [8]:
df1.head()

,Unnamed: 0.1,Unnamed: 0,Datetime,Temperature,Turbidity,Dissolved Oxygen,PH,Ammonia,Nitrate,Population,Fish_Length,Fish_Weight,Weight_diff,Weight_diff_Pred
0,0,61747,2021-07-31 21:07:00,24.8750,6.0,38.702,7.29424,0.56720,719.0,50.0,17.75,46.5,0.0,0.017593
1,1,61748,2021-07-31 21:08:00,24.9375,6.0,38.694,7.29424,0.57584,717.0,50.0,17.75,46.5,0.0,0.017593
2,2,61749,2021-07-31 21:09:00,24.9375,6.0,38.677,7.30332,0.56935,719.0,50.0,17.75,46.5,0.0,0.017593
3,3,61750,2021-07-31 21:10:00,24.8750,6.0,38.652,7.29424,0.56720,720.0,50.0,17.75,46.5,0.0,0.017593
4,4,61751,2021-07-31 21:11:00,24.9375,6.0,38.855,7.30332,0.53795,720.0,50.0,17.75,46.5,0.0,0.017593

In [9]:
df['Weight_diff_Pred']=df1['Weight_diff_Pred']

In [10]:
df.head()

,Datetime,Temperature,Turbidity,Dissolved Oxygen,PH,Ammonia,Nitrate,Temperature_Predict,PH_Predict,Turbidity_Predict,Dissolved Oxygen Predict,Ammonia_Predict,Nitrate_Predict,Weight_diff_Pred
0,2021-07-31 21:07:00,24.8750,6.0,38.702,7.29424,0.56720,719.0,NaN,NaN,NaN,NaN,NaN,NaN,0.017593
1,2021-07-31 21:08:00,24.9375,6.0,38.694,7.29424,0.57584,717.0,NaN,NaN,NaN,NaN,NaN,NaN,0.017593
2,2021-07-31 21:09:00,24.9375,6.0,38.677,7.30332,0.56935,719.0,24.852863,7.348157,20.355783,31.433104,145.06801,368.91266,0.017593
3,2021-07-31 21:10:00,24.8750,6.0,38.652,7.29424,0.56720,720.0,24.886960,7.347992,20.355783,31.435581,145.06801,368.91266,0.017593
4,2021-07-31 21:11:00,24.9375,6.0,38.855,7.30332,0.53795,720.0,24.864810,7.348440,20.355783,31.441149,145.06801,368.91266,0.017593

In [11]:
df.to_csv("./Predictions/combined_pond_result.csv", index=False)

In [13]:
df.to_csv("Tableau.csv")